<div class="announcementBar">
    <div class="container">
        <h2>This is announcementBar title</h2>
    </div>
</div>

{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        
        ]
}
{% endschema %}