<div class="header">
    <div class="container">
        <h2>This is header title</h2>
    </div>
</div>

{% schema %}
{
    "name": "header",
    "settings": [
        
        ]
}
{% endschema %}