<div class="image-banner-{{section.id}}">
    <div class="container">
        <h2>this is image banner</h2>
    </div>
</div>
{% schema  %} 
{
    "name": "Image Banner",
    "settings": []
}
{% endschema %}